

    <!-- Header Area Starts -->
    <header class="header-area header-area2">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="logo-area">
              <a href="index.html"
                ><img src="/assets/images/logo/logo2.png" alt="logo"
              /></a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="custom-navbar">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="main-menu main-menu2">
              <ul>
                <li class="active"><a href="../../ui">home</a></li>
                <li><a href="../../ui/restaurant/login">Restaurant Login</a></li>
                <li><a href="../../ui/restaurant/1">restaurants</a></li>
                <!-- <li>
                  <a href="#">blog</a>
                  <ul class="sub-menu">
                    <li><a href="blog-home.html">Login</a></li>
                    <li><a href="blog-details.html"></a></li>
                  </ul>
                </li> -->
                <li><a href="../../ui/user/login">Login</a></li>
                <li><a href="../../ui/user/signup">Signup</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area End -->
