<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Page Title -->
    <title>Restaurants</title>
        <!-- Preloader Starts -->
    <div class="preloader">
      <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <%-include("partials/header")%>
  </head>
  <body>
    <%-include("partials/navbar")%>

    <!-- Banner Area Starts -->
    <section class="banner-area banner-area2 menu-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1><i>Restaurants</i></h1>
            <p class="pt-2">
              <i
                >Beast kind form divide night above let moveth bearing
                darkness.</i
              ><br /><i style="opacity: 0;" id="pagenumber"><%=pagenumber %></i>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Area End -->

    <!-- Food Area starts -->
    <section class="food-area section-padding">
      <div class="container">
        <div class="row" id="container">
          <div class="col-md-4 col-sm-6" id="ritem">
            <a href="vd" style="width: 100%; height: 100%;">
              <div class="single-food">
                <div class="food-img">
                  <img src="wce" class="img-fluid" alt="" />
                </div>
                <div class="food-content">
                  <div class="d-flex justify-content-between">
                    <h5></h5>
                    <span class="style-change"></span>
                  </div>
                  <p class="pt-3"></p>
                </div></div
            ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Food Area End -->
    <%-include("partials/footer")%>
    <!-- Javascript -->
    <script src="/js/list_rest.js"></script>
  </body>
</html>
