<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Knight Food | Restaurant Login</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">Restaurant Login</header>
      <main class="main">
        <form class="login-form">
          <h1>Login</h1>
          <div class="form-control">
            <input
              type="text"
              name="rest_id"
              id="rest_id"
              placeholder=" "
              autocomplete="off"
              required
            />
            <label for="rest_id">Restaurant ID</label>
          </div>
          <div class="form-control">
            <input
              type="password"
              name="password"
              id="password"
              placeholder=" "
              autocomplete="off"
              required
            />
            <label for="password">Password</label>
          </div>
          <button type="submit" class="btn">Login</button>
        </form>
      </main>
    </div>

    <script src="/js/restLogin.js"></script>
  </body>
</html>
