<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Knight Food | Delivery Register</title>
    <link rel="stylesheet" href="/css/style.css" class="re" />
  </head>
  <body>
    <div class="container">
      <header class="header">User SignUp</header>
      <main class="main">
        <form class="register-form">
          <h1>Register</h1>
          <div class="form-control">
            <input
              type="text"
              name="name"
              id="name"
              placeholder=" "
              autocomplete="off"
              required
            />
            <label for="name">Name</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder=" "
              autocomplete="off"
              required
            />
            <label for="phone">Phone</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              name="email"
              id="email"
              placeholder=" "
              autocomplete="off"
              required
            />
            <label for="email">Email</label>
          </div>
          <div class="form-control">
            <input
              type="password"
              name="password"
              id="password"
              placeholder=" "
              autocomplete="off"
              required
            />
            <label for="password">Password</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              name="address"
              id="address"
              placeholder=" "
              autocomplete="off"
              required
            />
            <label for="address">Address</label>
          </div>
          <button type="submit" class="btn">Register</button>
        </form>
      </main>
    </div>

    <script src="/js/userRegister.js"></script>
  </body>
</html>
